<section class="sessionElement">
    <div>
        <img src="{{data.pic}}" alt="">
        <h1>{{data.firstName}} {{data.lastName}}</h1>
        <a href="/{{location}}/patientlijst/{{userKey}}">Terug naar overzicht</a>
    </div>
    {{#each sessions}}
    <section>
        <div>
            <img src="https://github.com/RickGroot/Glory-Days/blob/main/public/img/emotions/{{toLowerCase this.startfeeling}}.png?raw=true"
                alt="">
            <h1>{{this.startfeeling}}</h1>
        </div>
        <div>
            <h1>{{this.date}}</h1>
            <h2>{{this.duration}}</h2>
            <div class="slider">
                <div class="slides">
                    {{#each this.songs}}
                    <div id="slide-1">
                        <h1>{{this.artist}}
                            <br>
                            {{this.song}}
                        </h1>
                    </div>
                    {{/each}}
                </div>
                {{#each this.songs}}
                <a href="#slide-1">●</a>
                {{/each}}
            </div>
        </div>
        <div>
            <img src="https://github.com/RickGroot/Glory-Days/blob/main/public/img/emotions/{{toLowerCase this.endfeeling}}.png?raw=true"
                alt="">
            <h1>{{this.endfeeling}}</h1>
        </div>
    </section>
    {{/each}}
</section>