<section class="userElement">
    <div>
        <img src="{{data.pic}}" alt="">
        <h1>{{data.firstName}} {{data.lastName}}</h1>
        <a href="/{{location}}/notitielijst/{{userKey}}">Notitie</a>
    </div>

    <div>
        <a href="/{{location}}/herinneringen/{{userKey}}">
            <h2>Herinneringen</h2>
        </a>
        <a href="/{{location}}/patientlijst/sessies/{{userKey}}">
            <h2>Bekijk Sessies</h2>
        </a>
    </div>


    <div class="slider">

        <a href="#slide-1" id="aSlide-1" class="sliderActive">Informatie</a>
        <a href="#slide-2" id="aSlide-2">Positiviteit</a>
        <a href="#slide-3" id="aSlide-3">Schermtijd</a>

        <div class="slides">

            <div id="slide-1">
                <canvas id="lineChart"></canvas>
            </div>
            <div id="slide-2">
                <canvas id="polarChart"></canvas>
            </div>
            <div id="slide-3">
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Positieve Herinneringen</h2>
        <article>
            <img src="{{data.memories.positive.0.image}}" alt="">
            <div>
                <p class="emotion">{{data.memories.positive.0.feeling}}</p>
                <h3>{{data.memories.positive.0.title}}</h3>
            </div>
        </article>
        <article>
            <img src="{{data.memories.positive.1.image}}" alt="">
            <div>
                <p class="emotion">{{data.memories.positive.1.feeling}}</p>
                <h3>{{data.memories.positive.1.title}}</h3>
            </div>
        </article>
    </div>

</section>