<nav>
    <ul>
        <li {{#if dashboard }} class="active" {{/if}}><a href="/{{location}}/dashboard">Dashboard <br>{{location}}</a></li>
        <li {{#if userList }} class="active" {{/if}}><a href="/{{location}}/patientlijst">patiënten</a></li>
        <li><a href="/">Locatie wijzigen</a></li>
        {{#if memories}}<li class="active"><a href="/{{location}}/patientlijst/{{userKey}}">{{firstName}}</a></li>{{/if}}
    </ul>
    <ul>
        <li {{#if settingsPage}} class="active" {{/if}}><a href="/settings/{{location}}">Jij</a></li>
        <li><img src="/img/profile.jpg" alt=""></li>
    </ul>
</nav>  