{{> nav }}
<main>


    <section class="over">
        <img src={{ pic }} alt="afbeelding van patient" class="profielfoto">
        <h3>Naam</h3>
        <p>{{ firstName }} {{ lastName }}</p>
        <h3>Leeftijd</h3>
        <p>{{ age }} Jaar</p>
        <h3>Nationaliteit</h3>
        <p>{{ nationality }}</p>
        <h3>Wie is {{ firstName }}?</h3>
        <p>{{ about }}</p>
        <a href="">Notities</a>
    </section>

    <section class="herinneringen">
        <section id="patientbtns">
            <button>Afspeellijsten</button>
            <button>Reacties van {{firstName}} op beluisterde nummers</button>
        </section>

        <h2>Herinneringen van <br> {{firstName}}</h2>
        <h3>Herinneringen met positieve emoties voor {{firstName}}</h3>
        <section>
            {{#each memories.positive}}
            {{> article emotion=feeling title=title image=image}}
            {{/each}}
        </section>

        <h3>Herinneringen die {{firstName}} als minder positief ervaarde.</h3>
        <section>
            {{#each memories.ok}}
            {{> article emotion=feeling title=title image=image}}
            {{/each}}
        </section>

        <h3> Herinneringen met negatieve emoties voor {{firstName}}</h3>
        <section>
            {{#each memories.negative}}
            {{> article emotion=feeling title=title image=image}}
            {{/each}}
        </section>
    </section>
        <svg class="achtergrond" width="565" height="832" viewBox="0 0 565 832" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M185.565 2.42433C259.236 -10.0944 335.309 27.4047 391.477 79.5507C444.961 129.205 454.758 208.6 482.466 278.065C513.622 356.175 575.253 427.005 563.539 510.916C551.203 599.288 486.229 668.086 420.279 723.554C352.033 780.953 272.594 826.34 185.565 828.815C97.1519 831.33 -207.583 845.437 -265 774C-319.828 705.784 -306.499 580.654 -333 495.5C-359.733 409.601 -393.039 348.158 -363 263.5C-332.486 177.505 -52.6301 187.766 22.5468 142.243C84.7469 104.578 114.862 14.4389 185.565 2.42433Z"
                fill="#E7E0D6" />
        </svg>

</main>