<section id="list">
    <div class="noteTitle">
        <div>
            <h1>Notities</h1>
            {{#if sortbtn}}
            <a href="/{{location}}/notitielijst/{{userKey}}" class="sort">Sorteer</a>
            {{/if}}
        </div>

        <div>
            <a href="/{{location}}/patientlijst/{{userKey}}">
                Terug
            </a>
            <a href="/{{location}}/notitielijst/{{userKey}}/add">
                Nieuwe notitie toevoegen
            </a>
        </div>
    </div>
    <section id="notes">
        {{#each notes}}
        <a href="{{#if ../noteElem}}.{{/if}}{{#if ../newnote}}.{{/if}}./{{location}}{{../userKey}}/{{@key}}"
            class="note{{#ifEquals @key ../noteKey}} active{{/ifEquals}}">
            <article class="">
                <h2>{{this.title}}</h2>
                <p>{{this.text}}</p>
                <p class="userType {{this.userType}}">{{this.userType}}</p>
            </article>
        </a>
        {{/each}}
    </section>
</section>